$colorUno:#5F9EA0;
$colorDos:#7e8083;
$colorTres:black;
$colorCuatro:aliceblue;
$colorCinco:aqua;
$colorSeis:cornflowerblue;
$colorSiete:violet;
$colorOcho:lime;
$colorNueve:#252a2e;
$desktop:1024px;
$tablet:765px;
$celular:516px;
$textSize:1rem;
$textSize1:1.1rem;  
$wt:100vw;
$singsColor:( 
    sing1:$colorCuatro,
    sing2:$colorSeis,
    sing3:$colorSiete,
    sing4:$colorOcho,
    sing5:$colorCinco,
)




