.contacto {
  border: $colorTres solid;
  height: 50vh;
  width: 50vw;
  margin-left: 33%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: end;
}
