.historiaDeLaBanda {
  margin: 5vh;
  padding-left: 15vh;
  padding-right: 20vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  text-align: justify;
  @include style($colorDos,$textSize,300);
  line-height: 1.3rem;
  overflow: hidden;
  .imgHis{
    width: 40vw;
    float: left;
  }
    .imgHis1{
    margin:5px;
    width: 30vw;
    float: right;
  }
}
